@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

// === MIXIN ===
@mixin roboto {
	font-family: 'Roboto', sans-serif;
}
@mixin quicksand {
	font-family: 'Quicksand', sans-serif;
}
@mixin list-null {
	padding: 0;
	margin: 0;
	list-style: none;
}
// === / MIXIN ===

// ===  VARIABLES ===
$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-xxs: 10px;
$fs-xs: 12px;
$fs-s: 15px;
$fs-m: 18px;
$fs-l: 24px;
$fs-xl: 36px;
$fs-xxl: 48px;

$padding-vertical-xs: $base * 5;
$padding-vertical-sm: $base * 15;
$padding-vertical: $base * 30;

$transition: 0.2s;

$color-divider: #d8e3fe;

$color-white: #fff;
$color-primary: #495274;
$color-secondary: #6188ff;
// === / VARIABLES ===

// === COMMON ===
body {
	@include roboto;

	color: #8d96bd;
}
.section-outer {
	padding: 0 $base * 5;
	border-bottom: 1px solid $color-divider;
}
.section-inner {
	max-width: 900px;
	padding-top: $padding-vertical;
	padding-bottom: $padding-vertical;
	margin: 0 auto;

	&--wide {
		max-width: 1200px;
	}
}

.input {
	padding: $base * 3 $base * 4;
	font-size: $fs-xs;
	background: #efeff7;
	color: #7a85ad;
	border: 1px solid transparent;
	border-radius: $base / 2;

	&--size-lg {
		padding: $base * 5 $base * 6;
		border-radius: $base;
	}
}

.btn {
	@include quicksand;

	display: inline-block;
	box-sizing: border-box;
	padding: $base * 3 $base * 4;
	margin: 0;
	font-size: $fs-xs;
	font-weight: $fw-bold;
	text-decoration: none;
	cursor: pointer;
	white-space: nowrap;
	background: none;
	border: 1px solid transparent;
	border-radius: $base / 2;
	transition: $transition;

	&--size-lg {
		padding: $base * 5 $base * 15;
		border-radius: $base;
	}

	&--primary {
		color: #3a79ff;
		background-color: #d2e1ff;

		&:hover {
			background-color: darken($color: #d2e1ff, $amount: 5);
		}
	}

	&--danger {
		color: #d43f3f;
		background-color: #ffd7d7;

		&:hover {
			background-color: darken($color: #ffd7d7, $amount: 5);
		}
	}

	&--secondary {
		color: $color-white;
		background-color: #4c85ff;

		&:hover {
			background-color: darken($color: #4c85ff, $amount: 5);
		}

		&-inverted {
			color: #565f82;
			background-color: $color-white;

			&:hover {
				background-color: darken($color: $color-white, $amount: 5);
			}
		}
	}

	&--gray {
		color: #7382a3;
		background-color: #e8ecf4;

		&:hover {
			background-color: darken($color: #e8ecf4, $amount: 5);
		}
	}

	&--no-bg {
		color: #adb4d2;
		border: 1px solid #d1d1e4;

		&:hover {
			color: darken($color: #adb4d2, $amount: 10);
			border: 1px solid darken($color: #d1d1e4, $amount: 10);
		}

		&-inverted {
			color: #c7d3ff;
			border-color: #a0b4ff;

			&:hover {
				color: lighten($color: #c7d3ff, $amount: 10);
				background-color: darken($color: #a0b4ff, $amount: 5);
			}
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include quicksand;

	padding: 0;
	margin: 0;
	font-weight: $fw-regular;
}

h2 {
	@include roboto;

	margin-bottom: $base * 4;
	font-size: $fs-xxs;
	text-transform: uppercase;
	color: #3d4f9f;
}

.section-subtitle {
	@include quicksand;
	margin-bottom: $base * 7;
	font-size: $fs-xxl;
	color: #3d4f9f;
}
.ta-c {
	text-align: center;
}

.dots {
	@include list-null();
	display: flex;
	justify-content: center;

	&__item {
		width: $base * 2;
		height: $base * 2;
		border-radius: 100%;
		background-color: #d1d6e3;
		cursor: pointer;
		transition: $transition;

		&--active {
			background-color: #5283ff;
		}

		& + & {
			margin-left: $base * 4;
		}
	}
}

.btn-group {
	display: inline-flex;

	.btn:nth-child(1) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.btn:nth-child(2) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
// === / COMMON ===
// === HEADER ===
.section-header {
	.section-inner {
		padding-top: $padding-vertical-xs;
		padding-bottom: $padding-vertical-xs;
	}
}

.main-navigation {
	display: flex;
	align-items: center;
}

.logo {
	&__link {
		display: block;
		background-color: #5e81fe;
		width: $base * 6;
		height: $base * 6;
		border-radius: 100%;
	}
}

.nav {
	margin-left: $base * 18;
}

.nav-wrapper {
	@include list-null();
	display: flex;
	&__item {
		& + & {
			margin-left: $base * 10;
		}
		&-link {
			@include quicksand;

			font-size: $fs-xs;
			font-weight: $fw-medium;
			color: $color-primary;
			text-decoration: none;
			transition: $transition;
			&:hover {
				color: $color-secondary;
			}
			&--active {
				font-weight: $fw-bold;
				color: $color-secondary;
			}
		}
	}
}

.socials {
	margin-left: auto;
}

.socials-wrapper {
	@include list-null();

	display: flex;
	align-items: center;
	&__item {
		& + & {
			margin-left: $base * 10;
		}
		&-link {
			path {
				fill: $color-primary;
				transition: $transition;
			}
			&:hover {
				path {
					fill: $color-secondary;
				}
			}
		}
	}
}

.btn-wrapper {
	margin-left: $base * 11;
}
// === / HEADER ===

// === HERO-IMAGE ===
.section-hero-image {
	position: relative;
	padding: 0;

	.dots {
		position: absolute;
		bottom: $base * 7;
		left: 50%;
		transform: translateX(-50%);
	}
}

.slider-hero-image {
	@include list-null();

	&__item {
		height: $base * 140;
		text-align: center;
		background-position: 50% 50%;
		background-size: cover;

		&-content {
			.section-subtitle {
				font-weight: $fw-light;

				span {
					font-weight: $fw-medium;
				}
			}
			.text {
				max-width: 60%;
				margin: 0 auto $base * 5;
				line-height: 2;
			}
		}
	}
}

.icon-play {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: $base * 13;
	height: $base * 13;
	background-color: $color-white;
	border-radius: 100%;
	box-shadow: 0 $base * 2 $base * 12 rgba($color: #c9d1e7, $alpha: 0.6);

	svg {
		width: $base * 3;
		height: $base * 3;
	}
}
// === / HERO-IMAGE ===

// === CUSTOMERS ===
.section-customers {
	.section-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: $padding-vertical-sm;
		padding-bottom: $padding-vertical-sm;

		a {
			opacity: 0.3;
			transition: $transition;

			&:hover {
				opacity: 1;
			}
		}
	}
}

// === / CUSTOMERS ===

// === PLAN-AND-MANAGE ===
.section-plan-and-manage {
	position: relative;
	background-color: #f5f8ff;
	overflow: hidden;

	&__content {
		width: 50%;

		.aside-image {
			position: absolute;
			top: 0;
			left: 50%;
		}
		.section-subtitle {
			font-weight: $fw-light;

			span {
				font-weight: $fw-medium;
			}
		}
		.text {
			margin-bottom: $base * 12;
			line-height: 2;
		}

		.btn-group {
			svg {
				margin-left: $base;
			}
		}
	}
}

// === / PLAN-AND-MANAGE ===

// === FEATURES ===
.section-features {
	background: url(../img/bg-features-clouds.svg) no-repeat 50% 50%;

	.section-subtitle {
		font-weight: $fs-s;
		font-size: $fs-l;
	}

	.btns {
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}
}

.features-list {
	@include list-null();

	display: flex;
	margin: 0 0 $base * 25;
	text-align: center;

	&__item {
		$margin-left: $base * 10;
		$divider-width: $base * 7;

		position: relative;
		flex-basis: 25%;

		&:not(:first-child) {
			margin-left: $margin-left;
		}

		&:not(:first-child)::before {
			position: absolute;
			top: $base * 30;
			left: -$divider-width - ($margin-left - $divider-width)/2;
			width: $divider-width;
			height: 1px;
			content: '';
			background-color: #dae4de;
		}

		&-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto $base * 8;
			width: $base * 17;
			height: $base * 17;
			border-radius: 100%;
			background-color: #f1f5ff;
		}
		&-title {
			@include roboto();

			margin-bottom: $base * 7;
			font-weight: $fw-bold;
			font-size: $fs-s;
			color: #4074f8;
		}
		&-text {
			font-size: $fs-xs;
			line-height: 2;
		}
	}
}

.or-block {
	display: inline-flex;
	align-items: center;
	margin: 0 $base * 4;
	font-size: $fs-xs;
	font-weight: $fw-medium;

	&::before,
	&::after {
		display: block;
		width: $base * 4;
		height: 1px;
		content: '';
		background-color: #dae4fe;
	}

	&::before {
		margin-right: $base * 4;
	}
	&::after {
		margin-left: $base * 4;
	}
}

// === / FEATURES ===

// === STATS ===
.section-stats {
	display: flex;
	background-color: #e9efff;
	padding: 0;

	&__icon {
		margin-bottom: $base * 6;
	}
	&__number {
		@include quicksand;

		margin-bottom: $base * 7;
		font-size: $fs-xxl;
	}
	&__text {
		@include quicksand;

		width: 50%;
		font-size: $fs-m;
		font-weight: $fw-medium;
		line-height: 1.5;
	}

	&__left,
	&__right {
		display: flex;
		flex-basis: 50%;
		flex-direction: column;
		padding: $base * 16 $base * 22;
	}

	&__left {
		align-items: flex-end;
		color: $color-white;
		background-color: #6888ff;
		text-align: right;
	}

	&__right {
		color: #5e80ff;
		background-color: #e9efff;
	}
}

// === / STATS ===

// === BLOG ===
.section-blog {
	background-color: #f5f8ff;

	.section-subtitle {
		font-size: $fs-l;
		font-weight: $fw-medium;
	}
}

.slider-wrapper {
	position: relative;
	margin-bottom: $base * 25;
}

.slider-blog {
	@include list-null();

	background-color: $color-white;
	border: 1px solid #d8e3fe;
	box-shadow: 0 $base * 3 $base * 12 #eff4ff;

	&__item {
		display: flex;
		justify-content: space-between;
		padding: $base * 16 $base * 8;

		&-gallery,
		&-content {
			flex-basis: 45%;
		}

		&-gallery {
			display: grid;
			grid-template-rows: repeat(2, $base * 30);
			grid-template-columns: repeat(3, $base * 30);
			grid-gap: $base * 4;

			.image-link {
				position: relative;
				display: block;
				border-radius: $base;
				overflow: hidden;
				box-shadow: 0 $base * 3 $base * 25 #e5ebf8;

				&::after {
					display: block;
					position: absolute;
					content: '';
					top: 50%;
					left: 50%;
					width: $base * 16;
					height: $base * 16;
					border-radius: 100%;
					background: $color-white url(../img/icon-loupe.svg) no-repeat 50% 50%;
					background-size: 40%;
					transform: translate(-50%, -50%);
					opacity: 0;
					transition: $transition;
				}

				&:hover::after {
					opacity: 1;
				}

				img {
					height: 100%;
				}
				&::before {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					content: '';
					opacity: 0.5;
				}
				&--big {
					grid-row: 1 / 3;
					grid-column: 1 / 3;

					&::before {
						background: linear-gradient(transparent, #ffc735);
					}
				}
				&--sm-1 {
					grid-row: 1 / 2;
					grid-column: 3 / 4;

					&::before {
						background: linear-gradient(transparent, #ff3535);
					}
				}
				&--sm-2 {
					grid-row: 2 / 3;
					grid-column: 3 / 4;

					&::before {
						background: linear-gradient(transparent, #35aaff);
					}
				}
			}
		}

		&-content {
			h3 {
				font-size: $fs-xl;
				margin-bottom: $base * 7;
				color: #3d4f9f;
			}
			.text {
				margin-bottom: $base * 10;
				font-size: $fs-s;
				line-height: 2;
			}
		}
	}
}

.btn-blog {
	position: absolute;
	top: 50%;
	display: block;
	width: $base * 10;
	height: $base * 10;
	background: url(../img/icon-blog-arrow.svg) no-repeat 50% 50%;
	&--prev {
		right: 100%;
		margin-right: $base * 16;
		transform: translateY(-50%);
	}
	&--next {
		left: 100%;
		margin-left: $base * 16;
		transform: translateY(-50%) rotate(180deg);
	}
}

// === / BLOG ===

// === QUOTES ===
.section-quotes {
	background: linear-gradient(#eaebff, #f6f9ff);

	.section-inner {
		display: flex;
		justify-content: space-between;

		.section-subtitle {
			font-size: $fs-xl;
			font-weight: $fw-medium;
		}
	}

	&__left,
	&__right {
		flex-basis: 45%;
	}

	&__left {
		.text {
			line-height: 2;
		}
	}
}

.slider-quotes {
	@include list-null();

	margin-bottom: $base * 20;

	&__item {
		position: relative;
		padding: $base * 10 $base * 7 $base * 15;
		background-color: $color-white;
		border: 1px solid #d8e3fe;
		box-shadow: 0 $base $base * 12 #d4dcf1;
		&-text {
			font-size: $fs-s;
			line-height: 2;
			color: #676f95;
		}
		&-photo {
			$height: $base * 15;
			position: absolute;
			top: 100%;
			left: 50%;
			width: $base * 15;
			height: $height;
			margin-top: -$height / 2;
			overflow: hidden;
			border-radius: 100%;
			background-color: $color-white;
			transform: translateX(-50%);
		}
	}
}
// === / QUOTES ===

// === FAQ ===
.section-faq {
	.section-inner {
		.section-subtitle {
			font-size: $fs-l;
			font-weight: $fw-medium;
		}
	}
}

.faq-accordion {
	@include list-null();

	&__item {
		$parent: &;

		border-bottom: 1px solid #d8e3fe;

		&--active {
			.arrow {
				stroke: $color-primary;
			}

			#{$parent}-trigger {
				&-icon {
					transform: rotate(0);
				}

				&-text {
					font-weight: $fw-bold;
					color: $color-primary;
				}
			}

			#{$parent}-content {
				display: flex;
			}
		}

		&-trigger {
			display: flex;
			padding: $base * 4;
			cursor: pointer;

			&-icon {
				width: $base * 4;
				margin-right: $base * 4;
				text-align: center;
				transform: rotate(180deg);

				.arrow {
					stroke: #8e96b7;
				}
			}

			&-text {
				font-size: $fs-s;
			}
		}

		&-content {
			display: none;
			padding: 0 $base * 4 $base * 4 $base * 12;

			&-text {
				flex-grow: 1;
				font-size: $fs-xs;
				line-height: 2;
			}

			&-btn {
				margin-left: $base * 15;
			}
		}
	}
}
// === / FAQ ===

// === GET-STARTED ===
.section-get-started {
	position: relative;
	background: linear-gradient(#6888ff, #5e80ff);
	text-align: center;
	color: $color-white;

	&::before {
		position: absolute;
		z-index: 5;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url(../img/bg-clouds.svg) no-repeat 50% 50%;
	}

	.section-inner {
		position: relative;
		z-index: 10;

		h2 {
			color: white;
		}
		.section-subtitle {
			font-weight: $fw-light;
			color: $color-white;

			span {
				font-weight: $fw-medium;
			}
		}
		.text {
			line-height: 2;
			max-width: 60%;
			margin: 0 auto $base * 10;
		}
	}
}

// === / GET-STARTED ===

// === NEWSLETTER ===
.section-newsletter {
	background-color: #fcfdff;

	.section-inner {
		display: flex;
		justify-content: space-between;
	}

	&__left {
		flex-basis: 35%;

		&-title {
			@include quicksand();

			text-transform: none;
			font-size: $fs-m;
			color: #3d4f9f;
			margin-bottom: $base * 4;
			font-weight: $fw-bold;
		}
		&-text {
			line-height: 2;
			font-size: $fs-s;
		}
	}

	&__right {
		flex-basis: 55%;
	}
}

.form-newsletter {
	display: flex;

	&__input {
		flex-grow: 1;
	}

	&__btn {
		margin-left: $base * 3;
	}
}

// === / NEWSLETTER ===

// === FOOTER ===
.section-footer {
	border-bottom: 0;

	.section-inner {
		padding-top: $padding-vertical-sm;
		padding-bottom: $padding-vertical-sm;
	}
}

.copyright {
	@include quicksand();

	margin-top: $base * 7;
	margin-left: $base * 24;
	font-size: $fs-xs;
	font-weight: $fw-medium;
	color: #aeb8d0;
}
// === / FOOTER ===
